# ignore specific directories
data/*
figures/

# Ignore specific extensions
*.RData
*.rds
*.exe
*.png
*.html
*.xlsx
*.pdf
*.csv
*.bug

# Allow initial data
!data/test_data_ad.RData
!data/test_data_ai.RData
r/simulate_data.R
